<%= render "shared/admin_toggle" %>
<h1>Property Listings</h1>

<h2>Search Properties</h2>

<form method="get" action="/listings">
  <input type="text" name="keyword" placeholder="Keyword" value= "<%= params[:keyword] %>" >

  <input type="number" name="price_min" placeholder="Min Price" value= "<%= params[:price_min] %>">
  <input type="number" name="price_max" placeholder="Max Price" value= "<%= params[:price_max] %>">

  <input type="number" name="beds" placeholder="Beds" value= "<%= params[:beds] %>">

  <%= select_tag :property_type,
      options_for_select(
        [["Any Type", ""], ["Apartment", "apartment"], ["House", "house"]],
        params[:property_type]
      )
    %>

  <input type="text" name="suburb" placeholder="Suburb" value= "<%= params[:suburb] %>">

  <button type="submit">Search</button>
</form>

<% @properties.each do |property| %>
  <div style="margin-bottom: 20px;">
    <h3>
        <%= link_to property.title, listing_path(property) %>
    </h3>
    <p>Price: <%= property.price %></p>
    <p>Beds: <%= property.beds %>, Baths: <%= property.baths %></p>
    <p>Type: <%= property.property_type %></p>
    <p>Location: <%= property.suburb %></p>
    <% if @is_admin %>
      <p><strong>Internal Notes:</strong> <%= property.internal_notes %></p>
    <% end %>
  </div>
<% end %>

<div style="margin-top: 20px;">
  <% if @page > 1 %>
    <%= link_to "Previous", listings_path(request.query_parameters.merge(page: @page - 1)) %>
  <% end %>

  <% if (@page * @per_page) < @total %>
    <%= link_to "Next", listings_path(request.query_parameters.merge(page: @page + 1)) %>
  <% end %>
</div>