<h1>Property Listings</h1>

<% @properties.each do |property| %>
  <div style="margin-bottom: 20px;">
    <h3>
      <a href="/listings/<%= property.id %>">
        <%= property.title %>
      </a>
    </h3>
    <p>Price: <%= property.price %></p>
    <p>Beds: <%= property.beds %>, Baths: <%= property.baths %></p>
    <p>Type: <%= property.property_type %></p>
    <p>Location: <%= property.suburb %></p>
  </div>
<% end %>