<%= render "shared/admin_toggle" %>
<h1><%= @property.title %></h1>

<p>Price: <%= @property.price %></p>
<p>Beds: <%= @property.beds %></p>
<p>Baths: <%= @property.baths %></p>
<p>Type: <%= @property.property_type %></p>
<p>Location: <%= @property.suburb %></p>
<p>Description: <%= @property.description %></p>

<% if @is_admin %>
  <p><strong>Internal Notes:</strong> <%= @property.internal_notes %></p>
<% end %>
<%= link_to "Back to listings", root_path %>