<h1><%= @property.title %></h1>

<p>Price: <%= @property.price %></p>
<p>Beds: <%= @property.beds %></p>
<p>Baths: <%= @property.baths %></p>
<p>Type: <%= @property.property_type %></p>
<p>Location: <%= @property.suburb %></p>
<p>Description: <%= @property.description %></p>

<%= link_to "Back to listings", root_path %>